5/Lab4/Validation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NewDataSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Table1" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element type="xs:integer" name="Column1" minOccurs="0"/>
							<xs:element type="xs:string" name="Column2" minOccurs="0"/>
							<xs:element type="xs:date" name="Column3" minOccurs="0"/>
							<xs:element type="xs:string" name="Column4" minOccurs="0"/>
							<xs:element type="xs:string" name="Column5" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
